body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-aligned-center {
  text-align: center;
}

.panel-profile-img {
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.panel-profile .panel-heading {
  height: 150px;
  background-size: cover;
}
