<div class="col-md-4 m-b-lg">
  <a ng-click="delete()">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
  <div class="panel panel-default panel-profile m-b-0">
    <a href="#/cards/{{ card._id }}">
      <div class="panel-heading" style="background-image: url({{ card.backgroundImageUrl }});"></div>
    </a>
    <div class="panel-body text-center">
      <a href="#/cards/{{ card._id }}">
        <img class="panel-profile-img" src="{{ card.profileImageUrl }}">
      </a>
      <h5 class="panel-title">{{ card.name }}</h5>
      <p class="m-b">
        <a class="card-email" href="mailto:{{ card.email }}" target="_blank">
          {{ card.email }}
        </a>
      </p>
      <a href="https://github.com/{{ card.github }}" target="_blank" class="card-github">
        <img class="github-icon" src="images/icons/github.png" alt="github"/>
        <p class="card-icon-text">nelsonscott</p>
      </a>
    </div>
  </div>
</div>
