<div class="col-md-4 m-b-lg">
  <a ng-click="delete()">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
  <div class="panel panel-default panel-profile m-b-0">
    <a href="#/cards/{{ card._id }}">
      <div class="panel-heading" style="background-image: url({{ card.backgroundImageUrl }});"></div>
    </a>
    <div class="panel-body text-center">
      <a href="#/cards/{{ card._id }}">
        <img class="panel-profile-img" src="{{ card.profileImageUrl }}">
      </a>
      <h5 class="panel-title">{{ card.name }}</h5>
      <h5 class="panel-subtitle">Developer</h5>

      <hr class="card-break"></hr>

      <p>
        I sell propane and propane accessories.
      </p>

      <div class="card-icons-container">
        <div class="card-icon-container">
          <a class="card-icon-link" href="https://twitter.com/{{ card.twitter }}" target="_blank">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
        </div>

        <div class="card-icon-container">
          <a class="card-icon-link" href="https://github.com/{{ card.github }}" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </a>
        </div>

        <div class="card-icon-container">
          <a class="card-icon-link" href="https://www.linkedin.com/in/{{card.linkedin }}" target="_blank">
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
