<div ng-show="success">Save Successful.</div>
<form>
  <div class="form-group">
    <label>Name</label>
    <input type="name" class="form-control" placeholder="name" ng-model="card.name">
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="email" ng-model="card.email">
  </div>

  <div class="form-group">
    <label>github</label>
    <input type="github" class="form-control" placeholder="github" ng-model="card.github">
  </div>
  <input type="button" class="btn btn-primary" value="Save" ng-click="save()">
</form>
